<div class="playingCards faceImages">
  <app-card
  *ngFor="let card of cards"
  [rank]="card.rank"
  [suit]="card.suit">
  </app-card>
</div>
<hr>
<p>Score: {{getScore()}}</p>
<button (click)="give()" [disabled]="disBtn()">Give another card</button>
<button (click)="reset()">Reset</button>
<h1>{{info()}}</h1>
